
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> </title>
  <!-- Add any necessary CSS links here -->

</head>
<body>
<div class="container">
  <h1>Welcome {{ user.name }}</h1>
  <div class="profile-info">
    <img class="img-profile rounded-circle user-image" *ngIf="this.user?.image!==null" [src]="retrievedImage" alt="Image">
    <img class="img-profile rounded-circle user-image"
         *ngIf="this.user?.image===null&& this.service.getConnectedUserObject()" src="assets/img/user.png"
         alt="Image">
    <hr />


    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p  *ngFor="let role of user.roles"><strong>Role:</strong>{{ role.name }}</p>
    <!-- Add more profile information as needed -->

    <div *ngIf="user.courses!== null"
    >

      <p  *ngFor="let role of user.courses"><strong>Courses:</strong>{{ role.courseName }}</p>
  </div>

   <!-- <div *ngIf="user.projets!== null"
    >

      <p  *ngFor="let role of user.projets"><strong>Projet:</strong>{{ role.titre }}</p>
    </div>-->



  </div>
</div>

</body>
</html>


