<div class="col-md-6 offset-md-3">
    <h3> Create Module </h3>
    <form (ngSubmit)="onSubmit()" #moduleForm="ngForm">
        <div class="form-group">
            <label>Module Name</label>
            <input type="text" class="form-control" id="moduleName"
                [(ngModel)]="module.moduleName" name="moduleName" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description"
                [(ngModel)]="module.description" name="description" required>
        </div>

        <button class="btn btn-success" type="submit" [disabled]="!moduleForm.valid">Submit</button>
    </form>
</div>
