<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Tunizon</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/backtemplate">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Users -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
       aria-expanded="false" aria-controls="collapseUsers">
      <i class="fas fa-fw fa-address-book"></i>
      <span>Users</span>
    </a>
    <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Users:</h6>
        <a class="collapse-item" routerLink="/backtemplate/users">Users</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Category -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategory"
       aria-expanded="false" aria-controls="collapseCategory">
      <i class="fas fa-fw fa-folder"></i>
      <span>Category</span>
    </a>
    <div id="collapseCategory" class="collapse" aria-labelledby="headingCategory" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Category:</h6>
        <a class="collapse-item" routerLink="/backtemplate/category">Category</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Products -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts"
       aria-expanded="false" aria-controls="collapseProducts">
      <i class="fas fa-fw fa-box"></i>
      <span>Products</span>
    </a>
    <div id="collapseProducts" class="collapse" aria-labelledby="headingProducts" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Products:</h6>
        <a class="collapse-item" routerLink="/backtemplate/produitback">Products</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Orders -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrders"
       aria-expanded="false" aria-controls="collapseOrders">
      <i class="fas fa-fw fa-shopping-cart"></i>
      <span>Orders</span>
    </a>
    <div id="collapseOrders" class="collapse" aria-labelledby="headingOrders" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Orders:</h6>
        <a class="collapse-item" routerLink="/backtemplate/orders">Orders</a>
      </div>
    </div>
  </li>
</ul>






<!-- End of Sidebar -->


