h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

.table th,
.table td {
  padding: 3px;
  text-align: left;
}

.table th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}

.table td {
  border-bottom: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-group {
  display: flex;
}

.btn {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
