
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="assets/images2/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Tunizon</title>

</head>


<div>
  <!-- header section starts -->
  <header class="header_section long_section px-0">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="index.html">
        <span>Tunizon</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <div class="category-container" (mouseover)="showCategories()" (mouseout)="hideCategories()">
                <a class="nav-link" (click)="navigatetoProducts()">Categories</a>
                <div class="categories" [ngClass]="{'show': showCat}" id="categories">
                  <ul>
                    <li *ngFor="let category of categories" (click)="navigateToCategory(category.id)">{{ category.name }}</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>


        <div *ngIf="profileOff">
          <div class="quote_btn-container">
            <a (click)="navigate()">
              <span>Login</span>
            </a>
          </div>
        </div>

        <div *ngIf="this.serviceUser.getConnectedUserObject() && !profileOff ">
          <div class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small" >{{this.user?.name}}</span>
              <img class="img-profile rounded-circle user-image"
                   *ngIf="this.user?.image===null&& this.serviceUser.getConnectedUserObject()" src="assets/img/user.png"
                   alt="Image">
              <img class="img-profile rounded-circle user-image" *ngIf="this.user?.image!==null" [src]="retrievedImage" alt="Image">





            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <a class="dropdown-item" routerLink="/frontClient/profileFront">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" routerLink="/frontClient/profileSetting">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>

          </div>
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" data-dismiss="modal"  (click)="logout()" >Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
<!-- end header section -->
<!-- slider section -->
